@using CrowdFundingMVC.Models.ProjectController
@model AddPhotoViewModel

<form asp-action="AddPhoto" enctype="multipart/form-data">
    <div class="form-group">
        <input asp-for="@Model.Photo" type="file" id="Photo" name="Photo">
        <input type="hidden" asp-for="@Model.ProjectId" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>