@using CrowdFundingMVC.Models.ProjectController
@model AddPostViewModel

<form  asp-action="addpost" id = 'pf'>
  <div class="form-group">
        <label asp-for="@Model.Text">Write your post here</label>
        <textarea  asp-for="@Model.Text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <input type="hidden" asp-for="@Model.ProjectId" />
  </div>

   <button type="submit" id = 'ps'  class="btn btn-primary">Submit</button>
</form>