@using CrowdFunding.Models
@model Project

<h1>Project Page</h1>

<h2>@Model.Name</h2> 

<h2>@Model.Category</h2>

 <div class="blog-single gray-bg">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-lg-8 m-15px-tb">
                    <article class="article">
                        <div class="article-img">
                            <img src="https://via.placeholder.com/800x350/87CEFA/000000" title="" alt="">
                        </div>
                        <div class="article-title">
                            <h6><a href="#">Arts</a></h6>
                            <h2>They Now Bade Farewell To The Kind But Unseen People</h2>
                            <div class="media">

                                <div class="media-body">
                                    <label> Created By Rachel Roth</label>
                                    <span>On 26 FEB 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="article-content">
                            <p>Aenean eleifend ante maecenas pulvinar montes lorem et pede dis dolor pretium donec
                                dictum. Vici consequat justo enim. Venenatis eget adipiscing luctus lorem. Adipiscing
                                veni amet luctus enim sem libero tellus viverra venenatis aliquam. Commodo natoque quam
                                pulvinar elit.</p>
                            <p>Eget aenean tellus venenatis. Donec odio tempus. Felis arcu pretium metus nullam quam
                                aenean sociis quis sem neque vici libero. Venenatis nullam fringilla pretium magnis
                                aliquam nunc vulputate integer augue ultricies cras. Eget viverra feugiat cras ut. Sit
                                natoque montes tempus ligula eget vitae pede rhoncus maecenas consectetuer commodo
                                condimentum aenean.</p>

                        </div>

                        <section class="gallery min-vh">
                            <div class="container">
                                <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
                                    <div class="col">
                                        <img src="https://i.postimg.cc/W4yXnk7Y/1.jpg" class="gallery-item"
                                            alt="gallery">
                                    </div>
                                    <div class="col">
                                        <img src="https://i.postimg.cc/W4yXnk7Y/1.jpg" class="gallery-item"
                                            alt="gallery">
                                    </div>
                                    <div class="col">
                                        <img src="https://i.postimg.cc/W4yXnk7Y/1.jpg" class="gallery-item"
                                            alt="gallery">
                                    </div>
                                    <div class="col">
                                        <img src="https://i.postimg.cc/W4yXnk7Y/1.jpg" class="gallery-item"
                                            alt="gallery">
                                    </div>
                                    <div class="col">
                                        <img src="https://i.postimg.cc/W4yXnk7Y/1.jpg" class="gallery-item"
                                            alt="gallery">
                                    </div>
                                    <div class="col">
                                        <img src="https://i.postimg.cc/W4yXnk7Y/1.jpg" class="gallery-item"
                                            alt="gallery">
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Modal -->
                        <div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="img/1.jpg" class="modal-img" alt="modal img">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </article>
                </div>
                <div class="col-lg-4 m-15px-tb blog-aside">

                    <!-- Trending Post -->
                    <div class="widget widget-post">
                        <div class="widget-title">
                            <h3>Trending Now</h3>
                        </div>
                        <div class="widget-body">

                        </div>
                    </div>
                    <!-- End Trending Post -->
                    <!-- Latest Post -->
                    <div class="widget widget-latest-post">
                        <div class="widget-title">
                            <h3>Latest Post</h3>
                        </div>
                        <div class="widget-body">
                            <div class="latest-post-aside media">
                                <div class="lpa-left media-body">
                                    <div class="lpa-title">
                                        <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                    </div>
                                    <div class="lpa-meta">
                                        <a class="name" href="#">
                                            Rachel Roth
                                        </a>
                                        <a class="date" href="#">
                                            26 FEB 2020
                                        </a>
                                    </div>
                                </div>
                                <div class="lpa-right">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/400x200/FFB6C1/000000" title="" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="latest-post-aside media">
                                <div class="lpa-left media-body">
                                    <div class="lpa-title">
                                        <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                    </div>
                                    <div class="lpa-meta">
                                        <a class="name" href="#">
                                            Rachel Roth
                                        </a>
                                        <a class="date" href="#">
                                            26 FEB 2020
                                        </a>
                                    </div>
                                </div>
                                <div class="lpa-right">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/400x200/FFB6C1/000000" title="" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="latest-post-aside media">
                                <div class="lpa-left media-body">
                                    <div class="lpa-title">
                                        <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                    </div>
                                    <div class="lpa-meta">
                                        <a class="name" href="#">
                                            Rachel Roth
                                        </a>
                                        <a class="date" href="#">
                                            26 FEB 2020
                                        </a>
                                    </div>
                                </div>
                                <div class="lpa-right">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/400x200/FFB6C1/000000" title="" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Latest Post -->
                    <!-- widget Tags -->
                    <div class="widget widget-tags">
                        <div class="widget-title">
                            <h3>Top Backers</h3>
                        </div>
                        <div class="widget-body">

                            <div class="table-responsive-sm">
                                <table class="table table-bordered table-b">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Firstname</th>
                                            <th>Lastname</th>
                                            <th>Age</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Anna</td>
                                            <td>Pitt</td>
                                            <td>35</td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End widget Tags -->
            </div>
        </div>
    </div>