@using CrowdFundingMVC.Controllers
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Account/_AuthLayout.cshtml"; 
 }

 
<div id="signup" class="container tab-pane "><br>
              <h3 style="color:silver;">@ViewData["Title"]</h3>
              <section>
        <form asp-route-returnUrl="index" method="post" id='formID'>
            <h4  style="color:silver;">Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
           
             <div class="form-floating mb-3 mt-3">
                
                <input asp-for="FirstName" class="form-control" id="FirstName" placeholder="Enter your First Name" name="FirstName" />
                <label asp-for="FirstName"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
             <div class="form-floating mb-3 mt-3">
                
                <input asp-for="LastName" class="form-control" id="LastName" placeholder="Enter your Last Name" name="LastName" />
                <label asp-for="LastName"></label>
                <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                 <div class="form-floating mb-3 mt-3">
                
                <input asp-for="Email" class="form-control" id="Email" placeholder="Enter your email address" name="Email"  />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

             

            
            <div class="form-floating mb-3 mt-3">
               
                <input asp-for="Password" class="form-control" id="Password" placeholder="Create a password" name="Password" />
                 <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 mt-3">
                
                <input asp-for="ConfirmPassword" class="form-control" id="ConfirmPassword" placeholder="Confirm your password" name="Confirmpassword" />
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <!-- Modal footer -->
             <div class="modal-footer border-0">
            <button type="submit" id='submitID' class="btn btn-primary">Register</button>
             <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              </div>
              <div class="center">
                <p style="color:silver;">Already a KIKCIO Member? <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Login" asp-method="">Sign In</a></p>
                
              </div>
        </form>
    </section>
 
 
</div>
 
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
 