@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About us";
}



    <div class="container text-center mt-2 mb-2">
    <h1 style="color:silver;" class="mb-0">Meet The Founding Members</h1>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="~/site-images/feid.jpeg" width="90">
                <h5 class="mt-3 name">Georgios Feidakis</h5><span class="work d-block">Electrical & Electronic Engineering</span><span class="work d-block">University of West Attica</span>
                <div class="mt-4 about"><span>Engineering it's as easy as riding a bike
except the bike is on fire
you're on fire
you're in hell
.</span></div>
                <div class="mt-4">
                    <a  href="https://www.linkedin.com/in/georgios-feidakis-b1b105222//" target="_blank"> <h6 class="v-profile" >View Profile</h6></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="~/site-images/tasatzis.jpg" width="90">
                <h5 class="mt-3 name">Christos Tasatzis</h5><span class="work d-block">Informatics & Computer Engineering</span><span class="work d-block">University of West Attica</span>
                <div class="mt-4 about"><span>I walk around like everything’s fine, but deep down, inside my shoe, my sock is sliding off.</span></div>
                <div class="mt-4">
                    <a   href="https://www.linkedin.com/in/chris-tasatzis//" target="_blank"> <h6 class="v-profile" >View Profile</h6></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="~/site-images/psarrou.jpeg" width="90">
                <h5 class="mt-3 name">Tetei Psarrou</h5><span class="work d-block">Restaurant Marketing Manager</span><span class="work d-block">at efood</span>
                <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                <div class="mt-4">
                      <a   href="https://www.linkedin.com/in/teti-psarrou-5a284158///" target="_blank"> <h6 class="v-profile" >View Profile</h6></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="~/site-images/tzanis.jpeg" width="90">
                <h5 class="mt-3 name">Konstantinos Tzanis</h5><span class="work d-block">Electrical & Electronic Engineering</span><span class="work d-block">University of Aberdeen</span>
                <div class="mt-4 about"><span>If our brain was simple to understand how it works, we would be so simple we couldn't'.</span></div>
                <div class="mt-4">
                      <a   href="https://www.linkedin.com/in/konstantinos-tzanis-287185156//" target="_blank"> <h6 class="v-profile" >View Profile</h6></a>
                </div>
            </div>
        </div>
    </div>
</div>