@using CrowdFunding.Models
@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = (await UserManager.GetUserAsync(User));
   
    <div class="display-2">Hello @user.FirstName @user.LastName</div>

}