@using CrowdFunding.Models

@{
    var Categories = Category.GetValues(typeof(Category));
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - CrowdFundingMVC</title>
    
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <script src="/bootstrap/js/bootstrap.min.js"></script>
   
    <link rel="stylesheet" href="~/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark  ">
        <div class="container-fluid">

            <a class="brand" asp-area="" asp-controller="Home" asp-action="Index"><img height="60" width="170" src="https://i.postimg.cc/43hWYQ7Q/logo-cor.png"></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <span class="fa fa-home fa-lg"></span>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="btn-group">
                            <a class="nav-link " data-bs-toggle="collapse" data-bs-target="#colacat" href="">
                                <span class="fa fa-tasks fa-lg"></span> Categories
                            </a>

                        </div>
                    </li>

                </ul>

                <form method="get" asp-controller="Project" asp-action="Search" class="d-flex col-2 ">
                    <input class="form-control me-2" type="text" placeholder="Search"  name="name">  
                    <input type="hidden" name="page" value="1" />
                    <button class="btn btn-proj  " type="submit"> Search</button>
                </form>
            </div>
            <partial name="_LoginPartial" />
        </div>
        </div>
        </div>
    </nav>

    <div id="colacat" class="category collapse  bg-dark">
        <div class="container ">
            <div class="row row-header  align-items-center">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                            <a class="nav-link nav-link-icon" asp-controller="Project" asp-action="CategoryAll" asp-route-page="1">All</a>
                    </li>
                    @foreach (var category in Categories)
                    {
                        <li class="nav-item">
                            <a class="nav-link nav-link-icon" asp-controller="Project" asp-action="Category" asp-route-cat="@((int)category)" asp-route-page="1">@category</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <header class="jumbotron">
        <div class="container">
            <div class="row row-header align align-items-center">
                <div class="col-12 col-sm-6">
                    <h1>KIKCIO</h1>
                    <p>
                        Funding for the coolest ideas. <br> Browse through hundreds of top projects and support your favourites.
                        Are you ready to start the next big thing?
                    </p>
                </div>
                <div class="col-12 col-sm-3">
                    <a href="">
                        <img height="90" width="90" src="https://i.postimg.cc/W12cPNhC/Logo-Makr-0-Oki-T0.png"
                             class="img-fluid">
                    </a>
                </div>
                <div class="col-12 col-sm-3 ">
                    <form class="form-inline" asp-area="" asp-controller="Project" asp-action="Create" method="get">
                        <div class="bg-dark" style="width: 248px;">
                            <button type="submit" id="tooltip" class="btn btn-proj1" data-bs-toggle="tooltip" title="Almost There!">
                                Start a new Project right away!
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-5 offset-sm-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a style="color: silver" href=""> <span class="fa fa-home fa-lg"></span>Home</a></li>
                        <li><a style="color: silver" href=""><span class="fa fa-info fa-lg"></span>About</a></li>
                        <li><a style="color: silver" href=""><span class="fa fa-tasks fa-lg"></span>Project</a></li>
                        <li><a style="color: silver" href=""><span class="fa fa-address-card fa-lg"></span>Contact</a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
                        121, Clear Wave Road<br>
                        Clear Wave Road, Aloha<br>
                        HAWAII<br>
                        <span class="fa fa-phone fa-lg"></span> +987 6543 2100<br>
                        <span class="fa fa-fax fa-lg"></span> +987 6543 2101<br>
                        <span class="fa fa-envelope fa-lg"></span> <a href="mailto:efiproject@nomail.net">kikcio@nomail.net</a>
                    </address>

                </div>
                <div class="col col-sm-4 align-self-center ">
                    <div style="text-align:center">

                        <a class="btn btn-social" href="http://google.com/+"><span class="fab fa-google-plus-g"></span></a>
                        <a class="btn btn-social" href="http://www.facebook.com/profile.php?id="><span class="fab fa-facebook-f"></span></a>
                        <a class="btn btn-social" href="http://www.linkedin.com/in/"><span class="fab fa-linkedin-in"></span></a>
                        <a class="btn btn-social" href="http://twitter.com/"><span class="fab fa-twitter"></span></a>
                        <a class="btn btn-social" href="http://youtube.com/"><span class="fab fa-youtube"></span></a>

                        <a style="color: silver" class="btn" href="mailto:"><span class="fas fa-envelope"></span></a>
                    </div>
                </div>

            </div>

            <div class="row justify-content-center">

                <div class="col-auto">
                    <p> &copy; Copyright 2021 KIKCIO</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    </script>

</body>
</html>
