@using CrowdFunding.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="MyAccount">
                <span class="fa fa-address-card fa-lg"></span>
                Contact
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link "><a><span style="color:silver;" class="fas fa-sign-in-alt"></span></a> Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Login" asp-method=""> <span style="color:silver;" class="fas fa-sign-in-alt"></span> Login  </a>
        </li>


    }
</ul>
