
.fixed-top{
position:fixed !important;
}

.jumbotron {
    padding: 30px 30px 30px 30px;
    margin: 0px auto;
    background: grey;
    color: floralwhite;
}

address {
    font-size: 90%;
    margin: 0px;
}

body {
    background: #111 !important;

}

html, body {
    height: 100%;
}

    body > footer {
        position: sticky;
        top: 100vh;
    }

.footer {
    
    width: 100%;
    white-space: nowrap;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: silver;
}






#content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
}

.cancel {
    border-color: #dfdfdf;
    background-color: #dfdfdf;
    color: rgb(0, 0, 0);
}

    .cancel:hover {
        background: slategray;
        color: white;
    }

.custom-button:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.navbar {
    position: relative;
    padding: 15px;
}

.brand {
    margin-top: 7px;
    position: absolute;
    left: 50%;
    margin-left: -50px !important; /* 50% of your logo width */
    display: block;
}

.category {
    padding: 10px 20px 10px 20px;
    margin: 0px auto;
}

.center {
    text-align: center;
}

:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}



.card {
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
}

.btn-proj {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source: var(--gradient) !important;
    text-decoration: none;
    transition: all .4s ease;
}
    .btn-proj:hover, .btn-proj:focus {
        background: var(--gradient) !important;
        background-clip: none !important;
        -webkit-background-clip: none !important;
        -webkit-text-fill-color: #fff !important;
        border: 5px solid #fff !important;
        box-shadow: #222 1px 0 10px;
        text-decoration: underline;
    }

.btn-proj1 {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    background-clip: text !important;
    background-color: #222222;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source: var(--gradient) !important;
    text-decoration: none;
    transition: all .4s ease;
}


    .btn-proj1:hover, .btn-proj:focus {
        background: var(--gradient) !important;
        background-clip: none !important;
        -webkit-background-clip: none !important;
        -webkit-text-fill-color: #fff !important;
        border: 5px solid #fff !important;
        box-shadow: #222 1px 0 10px;
        text-decoration: underline;
    }

.badge span {
    background-color: #50C878;
    width: 90px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #355E3B;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

    .progress div {
        background-color: red
    }

.btn-social {
    color: #C0C0C0 !important
}

.nav-link-icon {
    color: #C0C0C0 !important
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn {
    box-shadow: none !important
}

.blog-listing {
    padding-top: 30px;
    padding-bottom: 30px;
}

.gray-bg {
    background-color: #111;
}
/* Blog 
---------------------*/
.blog-grid {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #222;
    margin-top: 15px;
    margin-bottom: 15px;
}

    .blog-grid .blog-img {
        position: relative;
    }

        .blog-grid .blog-img .date {
            position: absolute;
            background: #fc5356;
            color: #222;
            padding: 8px 15px;
            left: 10px;
            top: 10px;
            border-radius: 4px;
        }

            .blog-grid .blog-img .date span {
                font-size: 22px;
                display: block;
                line-height: 22px;
                font-weight: 700;
            }

            .blog-grid .blog-img .date label {
                font-size: 14px;
                margin: 0;
            }

    .blog-grid .blog-info {
        padding: 20px;
    }

        .blog-grid .blog-info h5 {
            font-size: 22px;
            font-weight: 700;
            margin: 0 0 10px;
        }

            .blog-grid .blog-info h5 a {
                color: rgba(250, 250, 250, 0.8);
            }

        .blog-grid .blog-info p {
            margin: 0;
        }

        .blog-grid .blog-info .btn-bar {
            margin-top: 20px;
        }


/* Blog Sidebar
-------------------*/
.blog-aside .widget {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    
    background: #222;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.widget-body {
    color: floralwhite;

}

.blog-aside  {
    color: floralwhite;
    padding: 15px;
    
}

.blog-aside .widget-title {
    color: floralwhite;
    padding: 15px;
    border-bottom: 1px solid floralwhite;
}

    .blog-aside .widget-title h3 {
        font-size: 20px;
        font-weight: 700;
        color: rgba(250, 250, 250, 0.8);
        margin: 0;
    }



}

.blog-aside .post-aside {
    margin-bottom: 15px;
    color: rgba(250, 250, 250, 0.8);
}

    .blog-aside .post-aside .post-aside-title h5 {
        margin: 0;
    }

    .blog-aside .post-aside .post-aside-title a {
        font-size: 18px;
        color: floralwhite;
        font-weight: 600;
    }

    .blog-aside .post-aside .post-aside-meta {
        padding-bottom: 10px;
    }

        .blog-aside .post-aside .post-aside-meta a {
            color: #6F8BA4;
            font-size: 12px;
            text-transform: uppercase;
            display: inline-block;
            margin-right: 10px;
        }

.latest-post-aside {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
}


.blog-aside .latest-post-aside + .latest-post-aside {
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    margin-left:5px;
}

.blog-aside .latest-post-aside .lpa-right {
    width: 90px;
}

    .blog-aside .latest-post-aside .lpa-right img {
        border-radius: 3px;
    }

.blog-aside .latest-post-aside .lpa-left {
    padding-right: 15px;
}

.blog-aside .latest-post-aside .lpa-title h5 {
    color: rgba(250, 250, 250, 0.8);
    margin: 0;
    font-size: 15px;
}

.blog-aside .latest-post-aside .lpa-title a {
    
    color: rgba(250, 250, 250, 0.8);
    font-weight: 600;
}

.blog-aside .latest-post-aside .lpa-meta a {
    color: rgba(250, 250, 250, 0.8);
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
}

.tag-cloud a {
    color: rgba(250, 250, 250, 0.8);
    padding: 4px 15px;
    font-size: 13px;
    color: grey;
    background: rgba(250, 250, 250, 0.8);
    border-radius: 3px;
    margin-right: 4px;
    margin-bottom: 4px;
}


.blog-single {
    padding-top: 30px;
    padding-bottom: 30px;
}

.article {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #222;
    padding: 15px;
    margin: 15px 0 30px;
}

.article-content {
    color: floralwhite;
}

    .article .article-title {
        color: floralwhite;
        padding: 15px 0 20px;
    }

        .article .article-title h6 {
            color: floralwhite;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 20px;
        }

            .article .article-title h6 a {
                text-transform: uppercase;
                color: rgba(250, 250, 250, 0.8);
                border-bottom: 1px solid rgba(250, 250, 250, 0.8);
            }

        .article .article-title h2 {
            color: floralwhite;
            font-weight: 600;
        }

        .article .article-title .media {
            padding-top: 15px;
            border-bottom: 1px dashed #ddd;
            padding-bottom: 20px;
        }

            .article .article-title .media .avatar {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                overflow: hidden;
            }

            .article .article-title .media .media-body {
                padding-left: 8px;
                color: floralwhite;
            }

                .article .article-title .media .media-body label {
                    font-weight: 600;
                    color: floralwhite;
                    margin: 0;
                }

                .article .article-title .media .media-body span {
                    display: block;
                    font-size: 12px;
                    color: floralwhite;
                }

    .article .article-content h1,
    .article .article-content h2,
    .article .article-content h3,
    .article .article-content h4,
    .article .article-content h5,
    .article .article-content h6 {
        color: floralwhite;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .article .article-content blockquote {
        color: floralwhite;
        max-width: 600px;
        padding: 15px 0 30px 0;
        margin: 0;
    }

        .article .article-content blockquote p {
            font-size: 20px;
            font-weight: 500;
            color: rgba(250, 250, 250, 0.8);
            margin: 0;
        }

        .article .article-content blockquote .blockquote-footer {
            color: floralwhite;
            font-size: 16px;
        }

            .article .article-content blockquote .blockquote-footer cite {
                font-weight: 600;
                color: floralwhite;
            }

    .article .tag-cloud {
        padding-top: 10px;
    }


img {
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

.section-title h2 {
    font-weight: 700;
    color: rgba(250, 250, 250, 0.8);
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #fc5356;
    padding-left: 15px;
}

.section-title {
    padding-bottom: 45px;
}


.gallery {
    background-color: #dbddf1;
    padding: 80px 0;
}

    .gallery img {
        background-color: #ffffff;
        padding: 15px;
        width: 100%;
        box-shadow: 0 0 15px rgba(0,0,0,0.3);
        cursor: pointer;
    }

#gallery-modal .modal-img {
    width: 100%;
}

.table-b {
    color: rgba(250, 250, 250, 0.8);
    text-align: center;
}

.container1 {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

a {
    text-decoration: none;
    color: silver;
}


.name {
    color: blue
}

.work {
    font-weight: bold;
    font-size: 15px
}

.about span {
    font-size: 13px
}

.v-profile {
    color: blue;
    cursor: pointer
}

.box {
    -webkit-box-shadow: 13px 12px 5px -10px rgba(196, 194, 196, 0.72);
    -moz-box-shadow: 13px 12px 5px -10px rgba(196, 194, 196, 0.72);
    box-shadow: 13px 12px 5px -10px rgba(196, 194, 196, 0.72)
}

.col-md-3 {
    margin-top: 10px
}